/*  Tag Level   */
* {
    box-sizing: border-box;
    font-family: Trebuchet MS, Georgia, Garamond, ‘Times New Roman’, Times, serif;
}
body {
    overflow-x: hidden;
}
div {}
h1 {}
h2 {}
h3 {
    font-size: 24px;
}
h4 {}
h5 {}
h6 {}

/*  Id Level    */
#objective {}


/**/
/*  Class Level */
.education {}
.introduction {}
.left-side {
    background-color: darkcyan;
    width: 50%;
    height: 100%;
    float: left;
    color: white;
    text-align: center;
    position: fixed;
}
.key-courses {}
.right-side {
    background-color:white;
    color: black;
    float: right;
    overflow: auto;
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
}
.skills {
    display: inline-block;
    padding-top: 1%;
}


/*  */
html,
body {
    padding: 0;
    margin: 0;
}
#design-tools,
#frameworks-platforms,
#programming-languages,
#software-devTools {
    padding-left: 15%;
    padding-top: 0.5%;
}
.right-side li {
    display: inline;
}
.skills li {
    list-style-type: none;
    display: inline-block;
    text-align: start;

}
.skills h3 {
    display: inline;
}
.skills h4 {}

/**/
